# .gitignore for Django Projects

# Ignore compiled Python files
*.pyc
__pycache__

# Ignore the virtual environment
venv/
env/

# Ignore the Django secret key
*.secret_key

# Ignore database files
*.sqlite3

# Ignore configuration files
*.pyc
*.pyo
*.pyd
*.db

# Ignore logs and static files
logs/
static/

# Ignore local settings
local_settings.py

# Ignore IDE-specific files and directories
.idea/
.vscode/

# Ignore user-specific files
*.DS_Store
Thumbs.db

# Ignore environment variables file
.env

contribution/