{%extends 'staff_base.html' %}
{%block main-content %}

	<section>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Count</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Approve</th>
              </tr>
            </thead>
            <tbody>
                {%for student in students%}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{student.user.first_name}}</td>
                <td>{{student.user.last_name}}</td>
                <td>{{student.user.email}}</td>
                <td><a href="{% url 'approve_request_confirmation' student.id %}" class="btn btn-sm btn-success">Approve</a></td>
              </tr>
            {%endfor%}
            </tbody>
          </table>

	</section>


{%endblock main-content %}