{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>home</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' %}" rel="stylesheet"
    type="text/css" />

  <link rel="stylesheet"
    href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}" />

  <link rel="stylesheet" href="{% static '/home/css/style.css' %}" />
  <link rel="stylesheet" href="{% static '/profile/style.css' %}" />
</head>

<body>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5"></div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-between">
        <div class="col">
          <a class="navbar-brand" href="/student-profile/">
            BRAC University <span>Student</span></a>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
          aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>


        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="/student-profile/" class="nav-link">Profile</a>
            </li>
            <li class="nav-item dropdown"></li>
            <li class="nav-item">
              <a href="" class="nav-link">Faculty Announcement</a>
            </li>
            <li class="nav-item">
              <a href="/student-announcement-view/" class="nav-link">Institution Announcement</a>
            </li>
            <li class="nav-item">
              <a href="/complain-student-view/" class="nav-link">Pending Complain</a>
            </li>
            <li class="nav-item">
              <a href="{%url 'postComplain' %}" class="nav-link">Make Complain</a>
            </li>
            <li class="nav-item"><a href="" class="nav-link">Course</a></li>
            <li class="nav-item">
              <a href="" class="nav-link">Routine & Exams</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'student_advising' %}" class="nav-link">Advising</a>
            </li>
            <!-- <li class="nav-item"><a href="#" class="nav-link">Course Content</a></li> -->
            <!-- <li class="nav-item"><a href="#" class="nav-link">Contact</a></li> -->
          </ul>
        </div>
        <button type="button" class="btn btn-danger">
          <a href="{% url 'student_logout' %}" style="color: rgb(252, 252, 252)">logout</a>
        </button>
      </div>
    </nav>
    <!-- END nav -->
  </section>

  {%block main-content%}
  {%endblock main-content%}

  <script src="{% static '/home/js/jquery.min.js' %}"></script>
  <script src="{% static '/home/js/popper.js' %}"></script>
  <script src="{% static '/home/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/home/js/main.js' %}"></script>
</body>

</html>