{%extends 'student_base.html' %}
{%block main-content%}
<section>
    <h1>Student Advising.</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Course Code</th>
                <th scope="col">Faculty</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <form method="post" action="{% url 'make_request' %}">
                    {% csrf_token %}
                    <input type="hidden" name="course_id" value="{{ course.id }}">
                    <input type="hidden" name="faculty_id" value="{{ course.course_faculty.id }}">
                    <th scope="row">{{ course.id }}</th>
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.course_faculty }}</td>
                    <td>
                        <button type="submit" class="btn btn-primary">Request</button>
                    </td>
                </form>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</section>

{%endblock main-content%}